body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: grid;
  grid-template-columns: auto 5fr auto auto auto;
  gap: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px gray;
}

.navbar .item {
  justify-self: center;
  align-self: center;
  padding: 0rem 0.5rem;
}

.navbar .icon img {
  height: 2rem;
}

.navbar .item:nth-child(2) {
  justify-self: start;
  width: 70%;
}

.navbar .search {
  color: gray;
  border: solid 1px gray;
  font-size: 1.25rem;
  padding: calc(0.75rem / 2);
  text-align: center;
}

.pagebody {
  margin: auto;
  width: clamp(50%, 750px, 100%);
}

.pagebody .postsbar {
  display: grid;
  grid-template-columns: repeat(4, auto);
  font-size: 1.1rem;
  font-weight: bold;
  margin: 1rem;
  color: gray;
}

.pagebody .postsbar .postsbar-item {
  justify-self: center;
  align-self: center;
}

.pagebody .posts {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 0.5rem;
}

.pagebody .posts .post {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background: lightsalmon;
}
